<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body class="frame">
    <div id="wrapper" class="frame-card">
        <%- include("../partials/header") %>
        <%- include("../partials/navigation") %>
        
        <main>
            <%- body %>
        </main>

        <%- include("../partials/footer") %>
    </div>
</body>
</html>